@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    7 Layton Cres<br />
    Barrie, On L4N-6G3<br />
    <abbr title="Phone">P:</abbr>
    705.305.3665
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jearle@earlesystems.com">jearle@earlesystems.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:jearle@earlesystems.com"> jearle@earlesystems.com</a>
</address>